.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 2rem;
  font-size: 3rem;
}

.task--adder {
  width: 30rem;
  display: flex;
  justify-content: center;
}

.task--adder input {
  width: 100%;
  padding: 0.3rem;
}
